<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <p class="center">Welcome To my CCT of my class ICS3U</p>
    
    <p>
     We did many things this year including learning how to code Html on glitch and Javascript on Vidcode. We also learned how to use a raspberry pi and a 3D printer. 
    </p>
    <p>
      The first Project we did was making an about me page wich is right here. <a href="/aboutMe">Learn about me</a>.
    </p>
    <p>
      Later in the year we made things look a litle less like the 90's and mooved on to bootstrap. Wich you can see <a href="/bootstrap">here</a>.
    </p>
    <p>
      We then learned how to make alerts apear wich I might have taken a little overboard on. Beware if you press this <a href="/alerts">Link</a>.
    </p>
<p>
  Every kid loves pressing <a href="/buttos">Buttons</a> There were multiple vershions of things like this. like buttons stored with in an exlernal.JS file. That vershion is found <a href="/buttons2">Here</a>.
    </p>
    
  <p class="center2"> Moving on to vidcode
    </p>
    <p>
      We did many things on vidcode this year but I would say my favorit is <a href="/quiz">this</a>. However I defintly did not start with something that complecated. It looked more like <a href="/filter">This</a>.
    </p>
    <p>
      Moving on from filters we learned to <a href="/draw">Draw</a>. To make things change using <a href="/array">arrays</a>. To creating a news <a href="/news">Segment</a>. We also made a things follow the mouse and dispaer along with <a href="/cat">reappearing</a>. Another great project was the emoji <a href="/emojibattle">war</a>, you never knew who would win.
    </p>
    <p>
      However the big projects were the final projects. I have previosly metioned some of them but here is all of them. Butt you can find all of them <a href="/all">here</a>
    </p>
    
    <p class ="cnter3">
      3D Printing and Raspberry Pi
    </p>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->

    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
